body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(./image/astronomy-1867616_1280.jpg);
  background-size: cover;
}

.dunya {
  position: relative;
  width: 480px;
  height: 480px;
  background-color: aquamarine;
  border-radius: 50%;
  overflow: hidden;
}

.golge {
  position: absolute;
  width: 480px;
  height: 480px;
  background-color: aquamarine;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 47%, rgba(0,0,0,1) 74%, rgba(0,0,0,1) 100%);
}

.dunya_harita {
  width: 480px;
  height: 500px;
  background: url(./image/dunya.jpg);
  background-size: cover;
  animation: donme 25s linear 0s infinite;
}

@keyframes donme {
  from {
  }
  to {
    background-position: 1000px 0;
  }
}
